
<h3 class="clearfix box">
    <div class="t-icon"></div>
    <span class="t-title">就医流程</span>
    <span class="t-info">Hospitalization process</span>
</h3>
<div id="process" class="clearfix">
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-phone@2x.png').default ? require('../public/imgs/process-phone@2x.png').default : require('../public/imgs/process-phone@2x.png') %>"
             width="110" height="110"/>
        <p>电话咨询</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-mechanism@2x.png').default ? require('../public/imgs/process-mechanism@2x.png').default : require('../public/imgs/process-mechanism@2x.png') %>"
             width="110" height="110"/>
        <p>机构选择</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-signing@2x.png').default ? require('../public/imgs/process-signing@2x.png').default : require('../public/imgs/process-signing@2x.png') %>"
             width="110" height="110"/>
        <p>签约</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-translate@2x.png').default ? require('../public/imgs/process-translate@2x.png').default : require('../public/imgs/process-translate@2x.png') %>"
             width="110" height="110"/>
        <p>病历翻译</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="clearfix pull-left" style="height: 60px; width: 100%"></div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-order@2x.png').default ? require('../public/imgs/process-order@2x.png').default : require('../public/imgs/process-order@2x.png') %>"
             width="110" height="110"/>
        <p>医院预约</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-visa@2x.png').default ? require('../public/imgs/process-visa@2x.png').default : require('../public/imgs/process-visa@2x.png') %>"
             width="110" height="110"/>
        <p>就医签证</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-abroad@2x.png').default ? require('../public/imgs/process-abroad@2x.png').default : require('../public/imgs/process-abroad@2x.png') %>"
             width="110" height="110"/>
        <p>出国就医</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
    <div class="process-line">
        <img src="<%= require('../public/imgs/line.jpg').default ? require('../public/imgs/line.jpg').default : require('../public/imgs/line.jpg') %>"
             width="153"/>
    </div>
    <a class="process-con">
        <img src="<%= require('../public/imgs/process-healthy@2x.png').default ? require('../public/imgs/process-healthy@2x.png').default : require('../public/imgs/process-healthy@2x.png') %>"
             width="110" height="110"/>
        <p>健康管理</p>
        <div class="process-info">
            出境医根据患者及家属病情进展、已向国家及医院、费用预算等条件推荐2-4家可靠的、合适的机构让您选择，根据机构服务内容、价格、履约周期等协助您尽快完成出国就医决策。
        </div>
    </a>
</div>